<div class="main-gallery">
  <ng-container *ngIf="galleryItems[currentIndex] as item">
    <div class="main-thumb">
        <img *ngIf="item.type === 'image'" [src]="item.src" class="main-image" alt="Gallery item" />
    <video
      *ngIf="item.type === 'video'"
      [src]="item.src"
      controls
      class="main-image"
    ></video>
    </div>
  </ng-container>

  <div class="thumbnail-row">
    <ng-container *ngFor="let thumb of galleryItems; let i = index">
      <img
        *ngIf="thumb.type === 'image'"
        [src]="thumb.src"
        class="thumbnail"
        [class.active]="i === currentIndex"
        (click)="selectImage(i)"
      />
      <video
        *ngIf="thumb.type === 'video'"
        [src]="thumb.src"
        class="thumbnail"
        muted
        (click)="selectImage(i)"
        [class.active]="i === currentIndex"
      ></video>
    </ng-container>
  </div>
</div>
