<app-header></app-header>
  <section class="hero" id="home">
    <div class="container">
      <div class="hero-content">
        <p class="hero-subtitle">Healthy, Delicious Meals Delivered Weekly</p>
        <h1 class="hero-title">
          Choose your <span>meals</span>, and we’ll handle the rest
        </h1>
        <p class="hero-description">
          Welcome to your new favorite way to eat healthy! Our meal prep service brings you delicious meals
           made with fresh ingredients—ready to enjoy with zero hassle. 
           Pick your meals, sit back, and let us do the cooking!
        </p>
        <div class="hero-buttons">
          <a href="#menu" class="btn btn-secondary">View Menu</a>
          <a href="#order" class="btn hero-btn-outline">Order Now</a>
        </div>
      </div>
    </div>
    <div class="hero-scroll">
      <i class="fas fa-chevron-down"></i>
        Scroll Down
    </div>   
  </section>
  
<section id="about">
  <app-about></app-about>
</section>

<section id="menu">
  <app-menu></app-menu>
</section>

<section id="gallery">
  <app-gallery></app-gallery>
</section>

<section id="contact">
  <app-contact></app-contact>
</section>


<app-footer></app-footer>